// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #A50062 !default;
$header-bg-color-secondary: #D62900 !default;

// Text
$section-headings-color: #FF9B55 !default;
$body-text-color: #ffffff !default;
$body-link-color: #D461A6 !default;
$blockquote-text-color: #c69f9f !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
